*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.formStyle{
  margin: 50px auto auto 35%;
}

.form-controll {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.btnGroup {
  padding: 0px 10px;
  border-radius: 8px;
  background-color: hotpink;
  color: #ffffff;
  text-align: center;
}

.App-header{
 
}

.navBar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  background-color: #38184C;
}

.initialBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:hotpink;
  width: 100%;
}

.infoLinks{
  display: flex;
  justify-content: center;
  align-items: center;
  color:hotpink;
}

.navBar a {
  text-align: center;
  padding: 0px 12px;
  text-decoration: none;
  color: hotpink
}

.footerView {
  background-color: gray;
  color:red
}

.wrapper{
  min-height: 100vh;
}

.avatar{
  width:200px;
  height:200px;
}

.utilBtnGroup{
  display:grid;
 place-items: center;

}

.activeLink{
  color:maroon;
}